doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title= title

    script(src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")

    script(src='https://use.fontawesome.com/b92a3361d7.js')

    link(rel='stylesheet', href='./../../stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')

    // Datatables
    link(rel='stylesheet', href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

  body(style="padding-top:56px;")
    block content
